{% extends "Kmom10/proj.base.html.twig" %}

{% block title %}Databas{% endblock %}

{% block body %}
    <h1>&nbsp;</h1>
    <div class="container-about">
        <div>
            <h1>Databas</h1>
            <p>
                Databasen (<i>fig.1</i>) hanterar totalt fem tabeller, vilka saknar relationer sinsemellan. Två av tabellerna rör mål 3, medan 
                resterande tre hanterar data för mål 7. En del tester för databasen har gjorts, vilka krävde inhämtning av vissa extrakunskaper
                för att genomföra. Innan enhetstesterna med databasen gick igenom på Scrutinizer krävdes en del justeringar i repot för att
                se till att databasen laddades upp och kunde nås av Scrutinizer. När jag väl fått databasen på plats i mitt repo fungerade 
                testerna även via Scrutinizer. Nedan ges en förklaring till innehållet i databasen.
            </p>
            <div class="explanation-div">
                <div class="db-div">
                    <strong><i>deceased_covid</i></strong><br>
                    Tabellen innehåller <i>all</i> data som används för visaulisera antal avlidna till följd av covid. 
                    Den innefattar alltså både totala siffror samt siffror sorterade per åldersgrupp, sjukdomsgrupp, boendeform och dödsplats.
                </div>
                <div class="db-div">
                    <strong><i>deceased_general</i></strong><br>
                    Tabellen innehåller data som används för visaulisera antal avlidna generellt under åren 2017-2023. 
                </div>
                <div class="db-div">
                    <strong><i>energy_use</i></strong><br>
                    Hanterar data för att visualisera energianvändning i Sverige. 
                </div>
                <div class="db-div">
                    <strong><i>energy_supply</i></strong><br>
                    Hanterar data för att visualisera energitillförsel i Sverige. 
                </div>
                <div class="db-div">
                    <strong><i>energy_supply</i></strong><br>
                    Hanterar data för att visualisera användning av petroleumprodukter i Sverige. 
                </div>
            </div>

            <p>
                <strong>ORM</strong><br>
                Innan kursens start var ORM ett främmande koncept för mig, och inget jag tidigare kommit i kontakt med. På det sätt vi arbetat med det i
                kursen skapar det en trevlig helhet och när man väl kommer igång känns det hyfsat enkelt att förstå "hur man gör", men det innebär
                inte nödvändigtvis att det är enkelt att förstå "hur det är gjort i bakgrunden". Jag tycker att det är spännande att arbeta med och
                hade gärna satt mig in i konceptet ännu mer om tid funnits till det i kursen, dock krävs ibland vissa avvägningar tidsmässigt som gör att
                man får nöja sig med "jag kan hantera konceptet och har en grund". Efter genomgången kurs har jag bildat mig en 
                förståelse för "dessa delar krävs och samverkar" men inte fullt ut greppat <i>varför</i> eller <i>hur</i> det sker alla gånger.<br><br>
                Sättet vi arbetade med databasen i databaskursen känns på många sätt mer lättbegriplig, på så sätt att det känns mer logiskt att förstå
                vad som sker, hur det sker och varför. Måhända att upplevelsen beror på att mina kunskaper upplevs djupare vad gäller databaser generellt än ORM,
                men känslan här och nu är att jag känner mig mer i kontroll över databasen så som vi arbetade med den i databaskursen.
            </p>

            <div class="img-div">
                <a href="{{ asset('img/er_proj.png') }}" target="_blank">
                    <img class="er-proj-img" src="{{ asset('img/er_proj.png') }}" alt="">
                </a><br>
                <i>Figur 1. Er-diagram, klicka på bilden för att visa i full storlek.</i>
            </div>
            
            <div class="note-div">
                <strong>Anmärkningar om fig.1</strong><br>
                För att öka läsbarheten har vissa förenklingar gjorts i diagrammet. Parenteser har använts för att visa att entiteten innefattar 
                flera separata entiteter.<br><br><u>Exempel</u><br>
                <code>(total/men/women)_17</code> representerar tre skilda entiter <br>&rarr; <code>total17, men17</code> och <code>women17</code>.
            </div>
        </div>
    </div>
{% endblock %}