{% extends "Kmom10/proj.base.html.twig" %}

{% block title %}Hem{% endblock %}

{% block body %}
    <h1>&nbsp;</h1>
    <div class="container-home">
        <div>
            <h1>Hem</h1>
            <a href="{{ path('health') }}"><div class="box-03" id="box-03"></div></a>
            <a href="{{ path('energy') }}"><div class="box-07" id="box-07"></div></a>
        </div>
    </div>
    
{% endblock %}