{% extends "base.html.twig" %}

{% block title %}Presentation{% endblock %}

{% block body %}
    <h1>Om mig</h1>
    <div class="container">
        <div>
            <img class="me-img" src="{{ asset('img/me.png') }}" alt="">
            <p>
                Så, då var det dags för ännu en presentation av mig själv. Då fotbollssäsongen, snön till trots, faktiskt
                börjar närma sig tyckte jag att vald bild var passande. Dessutom är ju fotboll en stor hobby i mitt liv 
                och säsongspremiären är alltid något att se framemot. Om jag skulle se någon nedsida med fotbollen så är nog 
                att jag är en otroligt dålig förlorare och tjurar ett bra tag vid händelse av en förlust.
            </p>
            <p>
                Ska jag nämna något om mig själv i övrigt, så får det väl bli det vanliga
                <ul>
                    <li> - 26 år, sambo och två katter.</li>
                    <li> - Utbildad energiingenjör men har arbetat som både musiklärare på en skola i Skåne och som svensklärare i svenska som främmande språk.</li>
                    <li> - Konsumerar troligen mer Pepsi Max än jag borde, men det är rackarns gott.</li>
                    <li> - Är riktigt svag för bra pianomusik och ser mitt eget pianospelande som ett sätt av varva ner och koppla av.</li>
                </ul>
            </p>
        </div>
    </div>
{% endblock %}