{% extends "base.html.twig" %}

{% block title %}Redovisning{% endblock %}

{% block body %}
    <h1>Redovisning</h1>
    <div class="container-report">
        <div>
            <h3 id="kmom01">Kmom01</h3>
            <p>
                Redovisningstext för detta kmom kommer här.
            </p>
        </div>
        <div>
            <h3 id="kmom02">Kmom02</h3>
            <p>
                Redovisningstext för detta kmom kommer här.
            </p>
        </div>
        <div>
            <h3 id="kmom03">Kmom03</h3>
            <p>
                Redovisningstext för detta kmom kommer här.
            </p>
        </div>
        <div>
            <h3 id="kmom04">Kmom04</h3>
            <p>
                Redovisningstext för detta kmom kommer här.
            </p>
        </div>
        <div>
            <h3 id="kmom05">Kmom05</h3>
            <p>
                Redovisningstext för detta kmom kommer här.
            </p>
        </div>
        <div>
            <h3 id="kmom06">Kmom06</h3>
            <p>
                Redovisningstext för detta kmom kommer här.
            </p>
        </div>
        <div>
            <h3 id="kmom07-10" >Kmom07-10</h3>
            <p>
                Redovisningstext för detta kmom kommer här.
            </p>
        </div>
    </div>
{% endblock %}