{% extends "Shared/base.html.twig" %}

{% block title %}Api{% endblock %}

{% block body %}
    <h1>Api</h1>
    <div class="container">
        <div class="api-div">
        <p>
            Nedan listas tillgängliga JSON routes.
        </p>
            <ul>
                <a href="{{ path('api/quote') }}" style="color: #111;" target="_blank">Citat (/api/quote)</a>
                <li>
                    Visar ett (av tre) slumpmässigt citat av en känd person.
                    Dessutom visas det datum och den tid citatet genererades.
                </li>
            </ul>
        </div>
    </div>
{% endblock %}